/* 
#FF9F1C;
#FFBF69;
#FFFFFF;
#CBF3F0;
#2EC4B6; */

* {
    box-sizing: border-box;
}

body, html, #root {
    margin: 0;
    padding: 0;

    height: 100%;

    background-color: #CBF3F0;
    color: #4c3e5a;
}

